@import "tailwindcss";

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
@keyframes marqueeLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-left {
  animation: marqueeLeft 35s linear infinite;
  width: max-content;
}

.animate-right {
  animation: marqueeRight 35s linear infinite;
  width: max-content;
}

.animate-left:hover,
.animate-right:hover {
  /* animation-play-state: paused; */
}


@font-face {
  font-family: "AwesomeSerif";
  src: url("./assets/fonts/Awesome-Serif-Italic-VAR-VF.ttf") format("truetype");
  font-style: italic;
  font-weight: 100 900;
}

.font-awesome {
  font-family: "AwesomeSerif", serif;
}