@import "tailwindcss";

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
@keyframes marqueeLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-left {
  animation: marqueeLeft 35s linear infinite;
  width: max-content;
}

.animate-right {
  animation: marqueeRight 35s linear infinite;
  width: max-content;
}

.animate-left:hover,
.animate-right:hover {
  /* animation-play-state: paused; */
}